img {
    image-rendering: pixelated;
}

.modules-map-components-css-___app__toolbar-wrapper___28Vag {
    position: fixed;
    width: 100%;
    height: 0;
    left: 0;
    top: 60px;
}

.modules-map-components-css-___app__toolbar-inner___2I0uM {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(200,200,200,0.8);
    /*padding: 5px;*/
    border-radius: 5px;

    margin: 0 10px;
}

.modules-map-components-css-___app__scroll-wrapper___46Oxi {
    /*height: auto;*/
    /*height: 400px;*/
    overflow-y: scroll;
    max-height: calc(100vh - 120px);
    background: #fff;
}

.modules-map-components-css-___app__map-btn-matrix-1___1oc0v {
    
}


/* The heart of the matter */
.modules-map-components-css-___app__map-btn-matrix-1___1oc0v > .btn:nth-child(3n+4) {
    clear: left;
    margin-left: 0;
}
.modules-map-components-css-___app__map-btn-matrix-1___1oc0v > .btn:nth-child(n+4) {
    margin-top: -1px;
}
.modules-map-components-css-___app__map-btn-matrix-1___1oc0v > .btn:first-child {
    border-bottom-left-radius: 0;
}
.modules-map-components-css-___app__map-btn-matrix-1___1oc0v > .btn:nth-child(3) {
    border-top-right-radius: 4px !important;
}
.modules-map-components-css-___app__map-btn-matrix-1___1oc0v > .btn:nth-last-child(3) {
    border-bottom-left-radius: 4px !important;
}
.modules-map-components-css-___app__map-btn-matrix-1___1oc0v > .btn:last-child {
    border-top-right-radius: 0;
}

/* Decorations */
.modules-map-components-css-___app__map-btn-matrix-1___1oc0v {
    margin: 20px;
}
.modules-map-components-css-___map__map-wrapper___15Tc_ {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.leaflet-tile-container {
    pointer-events: auto !important;
}

.popup-content {

}

.popup-content .leaflet-popup-content-wrapper {
    border-radius: 5px;
    padding: 3px;
}

.popup-content .leaflet-popup-content {
    margin: 0;
}

.modules-map-components-css-___map__popup-well___Dab9m {
    margin: 0;
    padding: 3px;
}

.pos-name-marker {
    border-style: solid;
    border-width: 17px 21px 19px;
    -moz-border-image: url(b99222de95fcaa7c659c81c35e96178c.png) 17 21 19 repeat;
    -webkit-border-image: url(b99222de95fcaa7c659c81c35e96178c.png) 17 21 19 repeat;
    -o-border-image: url(b99222de95fcaa7c659c81c35e96178c.png) 17 21 19 repeat;
    border-image: url(b99222de95fcaa7c659c81c35e96178c.png) 17 21 19 fill repeat;
    width: 56px !important;
    font-size: 14px !important;
    line-height: 14px;
    font-weight: bold;
    text-orientation: upright;
    height: auto !important;
}
